@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<partial name="_CookieConsentPartial" />
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3 display-4-color">Know</h1>
        <h2 class="display-4 display-4-color-darker">Discover. Share. Succeed.</h2>
        <p class="lead"></p>
        <hr class="my-4">
        <form class="form-inline my-2 my-lg-0">
            <div class="input-group mb-3">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                @*<div class="input-group-append">
                        <span class="btn input-group-text" type="submit"><i class="fa fa-search fa-search-plus"></i></span>
                    </div>*@

                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
            </div>

        </form>
        @*<p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>*@
    </div>
</div>
<div class="text-center text-color-blue">

    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<div class="container">
    <div class="card">
        <div class="card-header text-color-blue text-center display-4">Popular Subjects</div>
        <div class="card-body">
            <div class="row">
                <div class="col"><a href="#">Common language</a></div>
                <div class="col"><a href="#">Common language</a></div>
                <div class="col"><a href="#">Common language</a></div>
            </div>
            <div class="row">
                <div class="col"><a href="#">All about Guilds</a></div>
                <div class="col"><a href="#">All about Guilds</a></div>
                <div class="col"><a href="#">All about Guilds</a></div>

            </div>
            <div class="row">
                <div class="col"><a href="#">Request coaching</a></div>
                <div class="col"><a href="#">Request coaching</a></div>
                <div class="col"><a href="#">Request coaching</a></div>
            </div>
            <div class="row">
                <div class="col"><a href="#">Code Quality Analysis</a></div>
                <div class="col"><a href="#">Code Quality Analysis</a></div>
                <div class="col"><a href="#">Code Quality Analysis</a></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <div class="card-body">

            <div class="row">
                <div class="col"><a href="#">Common language</a></div>
                <div class="col"><a href="#">Common language</a></div>
                <div class="col"><a href="#">Common language</a></div>
            </div>
            <div class="row">
                <div class="col"><a href="#">All about Guilds</a></div>
                <div class="col"><a href="#">All about Guilds</a></div>
                <div class="col"><a href="#">All about Guilds</a></div>

            </div>
            <div class="row">
                <div class="col"><a href="#">Request coaching</a></div>
                <div class="col"><a href="#">Request coaching</a></div>
                <div class="col"><a href="#">Request coaching</a></div>
            </div>
            <div class="row">
                <div class="col"><a href="#">Code Quality Analysis</a></div>
                <div class="col"><a href="#">Code Quality Analysis</a></div>
                <div class="col"><a href="#">Code Quality Analysis</a></div>
            </div>
        </div>
    </div>
</div>

